<img src="../public/assets/img/burger-icon.png" alt="Burger Icon">

<h1>EAT-DA-BURGER!</h1>

<h2>Havent eaten</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <hr>
      <span><strong>{{this.burger_name}}</strong></span>
      <button type="button" data-id="{{this.id}}" data-change-devoured="{{devour}}">DEVOUR IT!</button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Gone</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
    <hr>
      <span><strong>{{this.burger_name}}</strong></span>
    {{/if}}
  {{/each}}
</ul>


{{!-- ADDING A BURGER --}}
<form class="create-form">

  <input type="text" name="burger_name" id="br">

  <button type="submit" id="addBurger">Add Burger!</button>
</form>
